<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="../../static/covid.png">
    <link rel="stylesheet" href="../../static/css/404style.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p class="center"> 
        {{errorMessage}}
    </p>
    </div>
    
    {{>footer}}
</body>

</html>